<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-09-22T00:34:35Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-09-22T00:34:35Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-09-21T19:24:22Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-09-21T22:19:30Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-09-21T14:46:47Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-09-21T22:19:29Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-09-21T22:19:29Z</date>
</dict>
</plist>
