<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackgroundHighlightCollection</key>
	<date>2021-09-21T14:46:46Z</date>
	<key>BackgroundHighlightEnrichment</key>
	<date>2021-09-21T14:46:46Z</date>
	<key>BackgroundJobAssetRevGeocode</key>
	<date>2021-09-21T16:12:20Z</date>
	<key>BackgroundJobSearch</key>
	<date>2021-09-21T14:46:47Z</date>
	<key>BackgroundPeopleSuggestion</key>
	<date>2021-09-20T21:45:49Z</date>
	<key>BackgroundUserBehaviorProcessor</key>
	<date>2021-09-20T21:45:49Z</date>
	<key>PGGraphDataModelEnrichmentContextBackgroundEnrichment</key>
	<date>2021-09-21T16:12:20Z</date>
	<key>PGGraphDataModelEnrichmentContextWeeklyEnrichment</key>
	<date>2021-09-14T17:53:30Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphConsistencyUpdateJobDateKey</key>
	<date>2021-09-21T14:47:52Z</date>
	<key>PhotoAnalysisGraphLastBackgroundGraphRebuildJobDate</key>
	<date>2021-09-20T21:45:49Z</date>
	<key>PhotoAnalysisGraphLastBackgroundMemoryGenerationJobDate</key>
	<date>2021-09-21T14:46:47Z</date>
	<key>PhotoAnalysisPresentationLastCacheCPAnalyticsPropertiesJobDate</key>
	<date>2021-09-20T21:45:49Z</date>
	<key>PhotoAnalysisPresentationLastMediaSampleReportingJobDate</key>
	<date>2021-09-20T21:45:49Z</date>
	<key>SiriPortraitDonation</key>
	<date>2021-09-20T21:45:49Z</date>
</dict>
</plist>
